html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
}

/* remove ugly dotted lines around clicked links and buttons in FF */
a { outline: none; }
button::-moz-focus-inner { border: 0; }

/* remove highlight border around selected form controls in Chrome and Safari */
*:focus { outline: none; }

a {
    color: #4ba3d9;
    text-decoration: none;
}

p {
    color: #333;
    font-family: Tahoma,Georgia,Arial,serif;
    font-size: 16px;
    line-height: 35px;
}

ul {
    padding-left: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.gap {
    height: 40px;
    position: relative;
}

#header {
    top: 0;
    width: 100%;
}

#header #nav {
    height: 25px;
    margin: 0 auto;
    padding: 20px 0 0;
    position: relative;
    max-width: 780px;
}

#head {
    margin: 60px auto 0;
    max-width: 740px;
    padding: 0 10px;
    font-family: Georgia,Arial,sans-serif;
}

.breadcrumb {
    color: #8f8f8f;
    display: block;
    float: left;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 3px;
    padding: 3px 6px;
    text-align: center;
    width: 80px;
}
.breadcrumb:hover {
    color: #4ba3d9;
}

.twtr {
    color: #43BFFB;
    float: right;
    font-size: 18px;
    margin-right: 20px;
}

#container {
    margin: 0 auto;
    padding: 25px 0 100px;
    max-width: 790px;
}

.articletop h1 {
    font: 300 40px/50px Arial,sans-serif;
    margin: 40px 0;
    text-align: center;
}

.articletop h2 {
    font: italic 500 22px/35px Georgia,"Times New Roman",serif;
    text-align: center;
}

.articletop .by {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 55px 0 35px;
    text-align: center;
    text-transform: uppercase;
}

.leftcolumn {
    margin: 0 auto;
    width: 735px;
}


h3 {
    font: 300 25px/35px Arial,sans-serif;
    margin: 40px 0 20px;
}

.img {
    padding: 20px 0;
}

.imageby {
    font-size: 12px;
    height: 14px;
    padding: 2px 30px 2px 5px;
    color: #626262;
}
.imageby a:focus {
    text-decoration: underline;
}
.imageby em {
    font-family: verdana,arial,sans-serif;
    font-style: normal;
    line-height: 12px;
}

.sharebuttons {
    padding: 30px 0;
}

.share {
    float: left;
    height: 25px;
    padding: 0 20px 0 0;
    width: 100px;
}

.previous_next {
    padding: 35px 0 20px;
}

.previous_next .previous, .previous_next .next {
    font-family: arial,helvetica,sans-serif;
    font-size: 17px;
    height: 16px;
}

.previous_next .previous {
    float: left;
}

.previous_next .next {
    text-align: right;
    float: right;
}

.my_disqus_thread {
    padding: 40px 25px;
}


/* list of posts */

.column .postshort {
    padding-top: 30px;
}

.postshort .date {
    color: #969696;
    float: left;
    line-height: 25px;
    padding: 5px 0 0 25px;
    width: 115px;
    font-family: Georgia,Arial,sans-serif;
}

.postshort .date .year {
    letter-spacing: 1px;
}

.postshort .title {
    float: left;
}

.column h2 {
    font: bold 17px/22px Arial,sans-serif;
    margin: 8px 0 12px
}

.column .subtitle {
    color: #545454;
    font-family: Georgia,Arial,sans-serif;
    font-size: 15px;
}

.pagination {
    margin: 60px 25px;
}

.pagination a {
    font-size: 15px;
    letter-spacing: 1px;
}

/* mobile devices */
@media all and (max-device-width: 480px), all and (max-width: 800px) {

#head {
    width: 430px;
}

.postshort .title {
    clear: both;
}

#header #nav {
    height: 40px;
}

.breadcrumb, .twtr {
    font-size: 22px;
}

.articletop .by {
    font-size: 18px;
}

#container {
    margin: 0 auto;
    padding: 25px 0 100px;
    width: 430px;
}

.leftcolumn {
    margin: 0 auto;
    width: 400px;
}

p {
    font-size: 20px;
}

.previous_next .previous, .previous_next .next {
    font-size: 18px;
    padding: 0 10px;
    height: 40px;
}

.my_disqus_thread {
    padding: 40px 5px;
}

}

