---
layout: default
title: 'O čemkoliv, co podněcuje zvídavost inteligentního člověka' # if changed, change other places where this is used (detecting main page etc.)
---

<div class="column">
  {% for post in paginator.posts %}
    {% include postshort.html %}
  {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  <div class="left" style="height: 15px;width:266px;">
  {% if paginator.next_page %}
    &lt; &nbsp;&nbsp;<a href="/{{ paginator.next_page }}" class="next">STARŠÍ</a>
  {% endif %}
  </div>
  
  <div class="right" style="height: 15px;width:266px;text-align:right;">
  {% if paginator.previous_page %}
    <a href="/{% unless paginator.previous_page == 1 %}{{ paginator.previous_page }}{% endunless %}" class="previous">NOVĚJŠÍ</a>&nbsp;&nbsp; &gt;
  {% endif %}
  </div>
  <div class="clear"></div>
</div>
{% endif %}