<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/i/favicon.ico" />

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="/css/style.css">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    

    <!-- Facebook Open Graph -->
    <meta property="fb:app_id" content="{{ site.fbappid }}"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:description" content="{{ page.subtitle }}"/>
    {% if page.imagecredit %}
    
    <!-- {{page.imagecredit}} -->{% endif %}
    {% if page.image %}<meta property="og:image" content="{{ site.url }}{{ page.image }}"/>
    {% else %}
    <!--
    image by colink. published under CC at https://flic.kr/p/bbphZk
    -->
    <meta property="og:image" content="{{ site.url }}/i/fb.jpg"/>
    {% endif %}
    {% if page.title == 'O čemkoliv, co podněcuje zvídavost inteligentního člověka' %}
    <meta property="og:url" content="{{ site.url }}/"/>
    <meta property="og:type" content="website"/>
    {% else %}
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace: '/index.html','' }}/"/>
    <meta property="og:type" content="article"/>
    {% endif %}


    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-11234868-4', 'auto');
      ga('send', 'pageview');

    </script>
</head>

<body>
    {% if page.subtitle %}
    <div id="header">
        <div id="nav">
            <a href="http://blog.simplyeasy.cz/" class="breadcrumb">DOMŮ</a>

            <a href="https://twitter.com/jan_bilek" class="twtr"><i class="fa fa-twitter"></i></a>

            <div class="clear"></div>
        </div>
    </div>
    {% else %}
    <div id="head">
        <div id="language" class="cs">
            ČESKY &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <a href="http://blog.simplyeasy.cz/">ENGLISH</a>
        </div>
        blog &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; <a href="http://www.simplyeasy.cz/cs/">o mně</a>
    </div>
    {% endif %}

    <div id="container">