---
layout: default
---
<div class="articletop">
  <h1>{{ page.title }}</h1>

  <h2>{{ page.subtitle }}</h2>

  <div class="by">{{ page.by }}</div>
</div>

{% comment %}
<div style="padding-left:360px;">{% include share.html %}</div>
<div class="gap"></div>
{% endcomment %}

<div class="leftcolumn">
  
  {{ content }}

  {% include subscribe.html %}

  {% include share.html %}
    
</div>

{% comment %}
<div class="rightcolumn">
    <div id="ads">
        <!-- ads come here -->
        <a href="http://icanunderstand.eu/" class="ad" target="_blank">
          <img src="http://www.icanunderstand.eu/app/img/man-listening.jpg" alt="">
          <div style="font-size: 17px;font-weight: bold;padding: 10px 20px 0;">LEARNING A LANGUAGE?</div>
          <div class="pad smallest" style="padding-bottom:20px;">Stop translating in your head and learn to understand native speakers.</div>
        </a>

        <a href="http://unexploredparadises.eu/" class="ad" target="_blank">
          <img src="http://unexploredparadises.eu/i/slovakia/cachtice/1.jpg" alt="">
          <div style="font-size: 22px;padding: 10px 20px 0;">Unexplored Paradises</div>
          <div class="pad smallest" style="padding-bottom:20px;">An amazing collection of photographs of extraordinary travel destinations.</div>
        </a>
    </div>
</div>
{% endcomment %}
<div class="clear"></div>

<div class="previous_next">
  {% if page.previous.url %}
    <div class="previous">
      <a href="{{page.previous.url}}">
        <div class="np_title">&lt; &nbsp;&nbsp;{{page.previous.title}}&nbsp;&nbsp;&nbsp;</div>
      </a>
    </div>
  {% endif %}

  {% if page.next.url %}
    <div class="next">
      <a href="{{page.next.url}}">
        <div class="np_title">&nbsp;&nbsp;&nbsp;{{page.next.title}}&nbsp;&nbsp; &gt;</div>
      </a>
    </div>
  {% endif %} 
    <div class="clear"></div>
</div>

{% if page.disqus %}
<div class="my_disqus_thread">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'simplyeasyen';
      var disqus_identifier = window.location.pathname;
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
{% endif %} 
